body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

nav {
  background-color: #001a66;
}

.nav-item {
  border: none;
  color: #5cd65c;
  font-size: 150%;
  display: inline-block;
  padding: 20px;
}

.nav-links {
  float: right;
}

button.nav-item {
  background-color: inherit;
  color: white;
  cursor: pointer;
}

button:hover, button:focus, a:hover, a:focus {
  color: grey;
}

button:focus, a:focus {
  outline: none;
}

.section-container:nth-child(even) {
  border-top: 2px solid #cc6600;
}

.section-container:nth-child(odd) {
  border-top: 2px solid #5d7c36;
}

section {
  color: black;
  font-size: 135%;
  margin: 0 auto;
  max-width: 1100px;
  padding: 50px;
  width: 80%;
}

.section-text {
  box-sizing: border-box;
  display: inline-block;
  width: 65%;
}

.section-image {
  border: 1px solid black;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: calc(35% - 40px);
}

.section-image:nth-child(even) {
  margin-left: 40px;
}

.section-image:nth-child(odd) {
  margin-right: 40px;
}

h1 {
  color: #5cd65c;
  margin-top: 0;
}

p:last-child, ul {
  margin-bottom: 0;
}

a {
  color: inherit;
}
